/* Тут пиши основные стили */


@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}


.text-block-3 {

    width: 700px;
    height: 132px;

    font-family: Georgia, serif;
    font-size: 21px;
    line-height: 33px; 

    
    color: rgba(0, 0, 0, 0.84);

    text-align: left;


    margin-left: 362px;   /* Отступ слева */
    margin-right: 362px;  /* Отступ справа */
}


.p-title-3 {
    width: 700px;
    height: 39px;

    margin-top: 10px;
    margin-left: 364px;   /* Отступ слева */
    margin-right: 364px; 

    font-family: "Lucida Grande Bold", sans-serif; 
    font-size: 34px;
    font-weight: bold; 
    line-height: 39px;
    color: rgba(0, 0, 0, 0.84);
    text-align: left;
}

#pic-1 {
    width: 700px;
    height: 727px;

    margin-left: 362px;   /* Отступ слева */
    margin-right: 362px;
}

